/* Variables */
:root {
    --primary-color: #0099FF;
  }
  
  /* Base */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    color: #333333;
  }
  
  /* Header */
  header {
    background-color: var(--primary-color);
    padding: 10px;
    background-color: #000;
  }
  .logo {
    position: absolute;
    top: 5px;
    left: 5px;
    height: 10%;
  }
  .Dofus {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 10%;
  }
  
  @media screen and (max-width: 1024px) {
    .logo {
      height: 100px; /* Ajustez la taille du logo selon vos besoins */
    }
  }
    @media screen and (max-width: 1024px) {
    .Dofus {
      height: 100px; /* Ajustez la taille du logo selon vos besoins */
    }
  }
  p {
    text-align: justify;
  }
  nav ul {
    display:flex;
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }
  nav li {
    margin: 0 10px;
    margin-right: 10px;
    justify-content: center;
  }
  h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Achafsex', sans-serif;
    font-size:55px;
    color: #E55700;
  }
  /* Boutons */
  button[type="submit"] {
    display: inline-flexbox;
    background-color: #7A7A7A;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-right: 50px;
    padding: 12px 24px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #F44B2D;
  } 
  
  /* Main */
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px
  }
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    
    body {
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.5;
      color: #333;
    }
    .Souvenirs {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
      }
      
      .Souvenirs img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
      }
      
      .Souvenirs img:hover {
        transform: scale(2.0);
      }


