/* Variables */
:root {
  --primary-color: #0099FF;
}

/* Base */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  color: #333333;
}

/* Header */
header {
  background-color: var(--primary-color);
  padding: 10px;
  background-color: #000;
}
.logo {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 10%;
}
.Dofus {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 10%;
}

@media screen and (max-width: 1024px) {
  .logo {
    height: 100px; /* Ajustez la taille du logo selon vos besoins */
  }
}
  @media screen and (max-width: 1024px) {
  .Dofus {
    height: 100px; /* Ajustez la taille du logo selon vos besoins */
  }
}
p {
  text-align: justify;
}
nav ul {
  display:flex;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
nav li {
  margin: 0 10px;
  margin-right: 10px;
  justify-content: center;
}
h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
/* Boutons */
button[type="submit"] {
  display: inline-flexbox;
  background-color: #FF5E3A;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-right: 5px;
  padding: 12px 24px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #F44B2D;
} 

/* Main */
main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
section {
  margin-bottom: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
#chat-container {
    border: 1px solid black;
    position: flex;
    bottom: 0;
    right: 0;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 9999;
  }
  
  #message-container {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
  }
  
  #message-input {
    width: calc(100% - 110px);
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    outline: none;
  }
  
  #send-button {
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  #send-button:hover {
    background-color: #3e8e41;
  }
  .gallery img {
    display: none;
    width: auto; /* Ajustez la largeur des images selon vos besoins */
    height: auto;
    border-radius: 10px;
  

  
    
  }

  .gallery-nav:hover {
    background-color: #ccc;
    color: #fff;
  }
  .gallery {
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 10; /* Supprime les espaces entre les images */
    background-color: #FDAB5F;
    border-radius: 10px;
  } 
  .gallery img.active {
    display: block;
  }